{% extends "base.html" %}

{% block title %}Speed Test Chart{% endblock %}

{% block content %}
<h1 class="title">Speed Test Chart</h1>
<div class="select">
    <select id="timeRangeSelect">
        <option value="24h">Últimas 24 horas</option>
        <option value="7d">Últimos 7 días</option>
        <option value="1m">Último mes</option>
        <option value="3m">Últimos 3 meses</option>
        <option value="6m">Últimos 6 meses</option>
        <option value="1y">Último año</option>
    </select>
</div>
<canvas id="speedChart" width="400" height="200"></canvas>
{% endblock %}
